html, body {
  height: 100%;
  margin: 0;
}


main {
  flex: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;    
  gap: 1rem;
  padding: 2rem;
  box-sizing: border-box;
  font-size: 32px;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.icon-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.icon-button img {
  display: block;
  width: 225px;
  height: 225px;
}

